<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Computer Blocks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <script src="main.js"></script>
</head>
<body>

    <!-- Header -->
    <div class="ui text container" align="center">
        <br>
        <h4 class="ui large header">Computer  Blocks</h4>
        <a href="/"> <button class="ui button" id="homeTabButton">HOME</button> </a>
        <button class="ui disabled button">HELP</button>
        <a href="https://github.com/liam-b/computer-blocks/releases">
            <button class="ui right labeled icon button" id="downloadTabButton">
                <i class="download icon"></i>
                DOWNLOAD
            </button>
        </a>
        <a href="/about"> <button class="ui primary button" id="aboutTabButton">ABOUT</button> </a>
    </div>


    <br> <br>


    <div class="ui text container">
        <b>About us?</b> <br>
        It is based on a grid and revolves around cables, inverters and source blocks which when used together can theoretically produce any digital program or computer.
        Computerblocks is a passion project started by a pair of high school students from Melbourne, Australia.
        We started this as a fun little thing to do but quickly our heads filled with new ideas and ambition.
        We hope that someday this could be used by many people for both educational and hobbyist purposes.
        <br> <i>(PLACEHOLDER TEXT)</i>
        
        <br><br><br>

        <b>Where can you find us?</b> <br>
        We currently do not have any social media accounts however we do plan to expand into a YouTube channel where we will post larger updates and dev logs as well as a Twitter account where we will post various smaller and more frequent updates.
        Twitter will also be a good way to conduct poles and generally keep in touch with the community. However, for now you can check our public Trello to see what we are currently working on. <br> <br>
        
        
        <a href="https://github.com/liam-b/computer-blocks">
            <button class="ui pink button" id="trelloButton">
                <i class="github icon"></i>
                GitHub
            </button>
        </a>
        <a href="https://trello.com/b/kMgKFAj1/computer-blocks">
            <button class="ui olive button" id="trelloButton">
                <i class="trello icon"></i>
                Trello
            </button>
        </a>
        <button class="ui disabled twitter button"id="twitterButton">
            <i class="twitter icon"></i>
            Twitter
        </button>
        <button class="ui disabled youtube button" id="youtubeButton">
            <i class="youtube icon"></i>
            YouTube
        </button>
        
    </div>

    <br><br><br><br><br><br><br><br>
</body>
</html>