<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Computer Blocks</title>

    <meta name="description" content="A free tile-based computer and logic simulation tool.">
    <meta name="keywords" content="computerblocks,computer blocks,nullpoint,null point,computer simulation,logic simulation, Joshua Briant, Liam Brennan">
    <meta name="author" content="Joshua Briant and Liam Brennan">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <script src="main.js"></script>
</head>
<body>

    <!-- Header -->
    <div class="ui text container" align="center">
        <br>
        <!-- <h4 class="ui large header">Computer  Blocks</h4> -->
        <img class="ui large rounded image" src="/static/images/logo.PNG" alt="logo banner">
        <br>
        <a href="/"> <button class="ui button" id="homeTabButton">HOME</button> </a>
        <button class="ui disabled button">HELP</button>
        <a href="https://github.com/liam-b/computer-blocks/releases">
            <button class="ui right labeled icon button" id="downloadTabButton">
                <i class="download icon"></i>
                DOWNLOAD
            </button>
        </a>
        <a href="/about"> <button class="ui primary button" id="aboutTabButton">ABOUT</button> </a>
    </div>


    <div class="ui text container">

        <br><br>

        <h2>Who are we?</h2>
        <p>
            We are NullPointDev, a small two person team of Australian high school students.
            We began this as a small project, however as we came up with more and more ideas the scope and time sink into it grew exponentially larger.
            We continue to strive to improve and expand this software as well as furthering our own experience with the goal that it might lead to future opportunities.
            <br><br>
            Computerblocks is a passion project started by a pair of high school students from Melbourne, Australia.
            We started this as a fun little thing to do but quickly our heads filled with new ideas and ambition.
            We hope that someday this could be used by many people for both educational and hobbyist purposes.
        </p>

        <h2>Where can you find us?</h2>
        <p>
            We have recently launched our Twitter and hope to keep it up to date on the most recent development news.
            We will also be able to use this platform to have polls and discussions with community.
            We do have plans to eventually expand into a YouTube channel where we will post larger, dev logs and tutorials.
            You can also check in on our public Trello to see what we are currently working on.
        </p>
        
        <br>
        
        <a href="https://github.com/liam-b/computer-blocks" class="ui pink button">
            <i class="github icon"></i>
            GitHub
        </a>
        <a href="https://trello.com/b/kMgKFAj1/computer-blocks" class="ui olive button">
            <i class="trello icon"></i>
            Trello
        </a>
        <a href="https://twitter.com/NullPointDev1" class="ui twitter button">
            <i class="twitter icon"></i>
            Twitter
        </a>
        <a class="ui disabled youtube button">
            <i class="youtube icon"></i>
            YouTube
        </a>
        
    </div>

    <br><br><br><br><br><br><br><br>
</body>
</html>