<% include partials/header %>
  <h2>Add Customer</h2>
  <form method="POST" action="/users/add">
    <label>First Name</label>
    <input type="text" name="first_name">
    <br>
    <label>Last Name</label>
    <input type="text" name="last_name">
    <br>
    <label>Email</label>
    <input type="text" name="email">
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <h2 ><%= title %></h2>
  <ul>
    <% users.forEach(function(user){ %>
      <li><%= user.first_name %> <%= user.last_name %></li>
    <% }) %>
  </ul>
<% include partials/footer %>
