<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Computer Blocks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <script src="main.js"></script>

  <style>
    h3 {
      margin-bottom: 0px;
    }
  </style>
</head>

<body>
  <div class="ui container" align="center">
    <br />
    <h2>Computer Blocks</h1>
    <button class="ui button">HOME</button>
    <button class="ui disabled button">HELP</button>
    <a class="ui button right labeled icon" href="https://github.com/liam-b/computer-blocks/releases">
      <i class="download icon right"></i>
      DOWNLOAD
    </a>
    <button class="ui disabled button">ABOUT</button>
  </div>

  <br />
  <br />
  <br />

  <div class="ui text container">
    <h3>What is Computer Blocks?</h3>
    <p>Computerblocks is a tool used to simulate digital circuitry and logic gates.
    It is based on a grid and revolves around cables, inverters and source blocks which when used together can
    theoretically produce any digital program or computer.</p>

    <h3>Who are we?</h3>
    <p> Computerblocks is a passion project started by a pair of high school students from Melbourne, Australia.
    We started this as a fun little thing to do but quickly our heads filled with new ideas and ambition.
    We hope that someday this could be used by many people for both educational and hobbyist purposes.</p>
  </div>
</body>

</html>